<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568278540801-dnu9don3ji9401obv33uuqvcnm4v1dvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568278540801-dnu9don3ji9401obv33uuqvcnm4v1dvc</string>
	<key>API_KEY</key>
	<string>AIzaSyA8otuQ3tKh8Z8XZBpNOZfIeM8mZkiWoLc</string>
	<key>GCM_SENDER_ID</key>
	<string>568278540801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>mobile-kombat</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-kombat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568278540801:ios:61d9fc13353c1afe065600</string>
	<key>DATABASE_URL</key>
	<string>https://mobile-kombat-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>